body {
    background-color: #f4f3f0;
    height: 5000px;
    width: 1870px;
}

.segoeUI {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-decoration: none;
}

.trebuchetMS {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.arialNarrow {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.arialHelvetica {
    font-family: Arial, Helvetica, sans-serif;
}

.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lemonada {
    font-family: "Lemonada", cursive;
}

.tank {
    position: fixed;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 870px;
    z-index: 3;
    float: left;
}

.must {
    position: fixed;
    padding: 30px 670px;
    max-width: 600px;
    max-height: 40px;
    background-color: white;
    border: 2px solid black;
    margin-left: 275px;
    margin-top: -10px;
    z-index: 1;
}

.bull:hover {
    color: limegreen;
}

.bulm {
    position: absolute;
    margin-left: 330px;
    margin-top: -37px;
    cursor: pointer;
}

.bulm:hover {
    color: crimson;
}

.bul {
    position: absolute;
    margin-left: 425px;
    margin-top: -37px;
    cursor: pointer;
}

.bul:hover {
    color: darkorange;
}

.hil {
    position: absolute;
    width: 1.5px;
    height: 77px;
    background-color: #f1f0ed;
    margin-left: 562px;
    margin-top: -72px;
}

.search {
    position: absolute;
    margin-left: 40px;
    margin-top: 30px;
    cursor: pointer;
}

.search:hover {
    color: red;
}

.menulink {
    text-decoration: none;
}

.menulink:hover {
    color: red;
}

.menu a {
    text-decoration: none;
    display: block;
}

.menu li {
    position: relative;
    list-style: none;
}

.menulist {
    display: flex;
    margin-left: -650px;
}

.menulist>li {
    margin: -10px 40px 1px 40px;
}

.menulist>li:hover .submenulist {
    display: block;
}

.menulink {
    color: black;
    font-size: 15px;
}

.submenulist {
    position: absolute;
    display: none;
    background-color: white;
    width: 105px;
    height: 200px;
    border: 2px solid grey;
    padding: 50px 50px;
}

.sum {
    text-decoration: none;
    position: relative;
    color: black;
    font-size: 16px;
    margin-left: -20px;
}

.back {
    display: block;
}

.min {
    display: block;
}

.img {
    width: 1430px;
    height: 800px;
    margin-left: 232px;
    margin-top: -10px;
}

.tiny {
    position: absolute;
    width: 570px;
    font-size: 75px;
    margin-left: 705px;
    margin-top: -570px;
    color: white;
}

.diny {
    position: absolute;
    width: 550px;
    font-size: 75px;
    margin-left: 765px;
    margin-top: -510px;
    color: white;
}

.of {
    position: absolute;
    font-size: 34px;
    margin-left: 585px;
    margin-top: -420px;
    color: white;
}

.tef {
    position: absolute;
    font-size: 34px;
    margin-left: 650px;
    margin-top: -385px;
    color: white;
}

.tof {
    position: absolute;
    font-size: 34px;
    margin-left: 240px;
    margin-top: 5px;
    color: white;
}

.def {
    position: absolute;
    font-size: 34px;
    margin-left: 755px;
    margin-top: -300px;
    color: white;
}

.Jhin {
    position: relative;
}

.sing {
    font-size: 65px;
    margin-top: -570px;
    color: white;
    margin-left: 270px;
}

.sing:hover {
    color: #00ffff;
}

.bring {
    font-size: 65px;
    margin-top: -60px;
    color: blue;
    margin-left: 265px;
}

.bring:hover {
    color: #80ff00;
}

.film {
    font-size: 30px;
    color: white;
    margin-left: 270px;
    margin-top: -50px;
}

.pill {
    font-size: 30px;
    color: yellowgreen;
    margin-left: 265px;
    margin-top: -25px;
}

.pill:hover {
    color: orange;
}

.tiil {
    font-size: 30px;
    color: yellowgreen;
    margin-left: 265px;
    margin-top: -25px;
}

.button {
    position: absolute;
    color: black;
    font-size: 14px;
    text-decoration: none;
    padding: 15px 28px;
    background-color: #ffffff;
    border-radius: 2px;
    margin-left: 880px;
    margin-top: -235px;
    cursor: pointer;
}

.button:hover {
    background-color: #ecebe8;
}

.date {
    color: black;
    font-size: 12px;
    margin-top: 15px;
    margin-left: 845px;
    max-width: 244px;
    cursor: pointer;
}

.date:hover {
    color: orange;
}

.notalow {
    color: black;
    font-size: 12px;
    margin-top: -5px;
    margin-left: 886px;
    max-width: 244px;
    cursor: pointer;
}

.notalow:hover {
    color: orange;
}

.yogurt {
    position: absolute;
    margin-top: 950px;
    margin-left: 990px;
    width: 420px;
    height: 400px;
}

.newproducts {
    position: absolute;
    font-size: 55px;
    margin-left: 1035px;
    margin-top: 370px;
    color: rgb(26, 60, 52);
}

.mate {
    position: absolute;
    font-size: 48px;
    margin-left: 1060px;
    margin-top: 425px;
}

.late {
    position: absolute;
    font-size: 16px;
    margin-left: 940px;
    margin-top: 520px;
    max-width: 840px;
    color: rgb(26, 60, 52);
}

.skate {
    position: absolute;
    font-size: 16px;
    margin-left: 949px;
    margin-top: 540px;
    color: rgb(26, 60, 52);
}

.state {
    position: absolute;
    font-size: 16px;
    margin-left: 1065px;
    margin-top: 560px;
    color: rgb(26, 60, 52);
}

.button2 {
    position: absolute;
    font-size: 16px;
    color: rgb(26, 60, 52);
    padding: 15px 28px;
    background-color: #ffffff;
    margin-left: 1140px;
    margin-top: 600px;
    border-radius: 2px;
    text-decoration: none;
}

.button2:hover {
    background-color: #ecebe8;
}

.dame {
    position: absolute;
    font-size: 12px;
    margin-left: 620px;
    margin-top: 770px;
    color: rgb(26, 60, 52);
}

.same {
    position: absolute;
    font-size: 12px;
    margin-left: 700px;
    margin-top: 785px;
    color: rgb(26, 60, 52);
}

.fame {
    position: absolute;
    font-size: 47px;
    margin-top: 1060px;
    margin-left: 350px;
    color: rgb(26, 60, 52);
}

.flame {
    position: absolute;
    margin-left: 345px;
    margin-top: 1160px;
    font-size: 16px;
    color: rgb(26, 60, 52);
}

.camo {
    position: absolute;
    margin-left: 330px;
    margin-top: 1180px;
    font-size: 16px;
    color: rgb(26, 60, 52);
}

.fade {
    position: absolute;
    margin-top: 1203px;
    margin-left: 435px;
    color: rgb(26, 60, 52);
}

.button3 {
    position: absolute;
    margin-top: 1255px;
    margin-left: 509px;
    text-decoration: none;
    color: rgb(26, 60, 52);
    padding: 15px 28px;
    background-color: #ffffff;
    border-radius: 2px;
}

.button3:hover {
    background-color: #ecebe8;
}

.img2 {
    position: absolute;
    width: 450px;
    height: 400px;
    margin-top: 270px;
    margin-left: 300px;
}

.img456 {
    background-color: #ebe9e5;
    padding: 330px 690px;
    position: absolute;
    margin-top: 1600px;
    margin-left: 290px;
}

.img5 {
    position: absolute;
    width: 340px;
    height: 290px;
    margin-left: -590px;
    margin-top: -200px;
}

.blade {
    font-size: 16px;
    position: absolute;
    margin-top: 111px;
    margin-left: -550px;
    color: rgb(26, 60, 52);
}

.made {
    position: absolute;
    font-size: 16px;
    margin-top: 132px;
    margin-left: -560px;
    color: rgb(26, 60, 52);
}

.trade {
    position: absolute;
    font-size: 16px;
    margin-top: 152px;
    margin-left: -500px;
    color: rgb(26, 60, 52);
}

.img4 {
    position: absolute;
    width: 350px;
    height: 335px;
    margin-left: 820px;
    margin-top: 1690px;
}

.safe {
    position: absolute;
    font-size: 16px;
    margin-top: 2040px;
    margin-left: 840px;
    color: rgb(26, 60, 52);
}

.cave {
    position: absolute;
    font-size: 16px;
    margin-top: 2060px;
    margin-left: 845px;
    color: rgb(26, 60, 52);
}

.img6 {
    position: absolute;
    width: 340px;
    height: 270px;
    margin-left: 1236px;
    margin-top: 1752px;
}

.sav {
    position: absolute;
    font-size: 16px;
    margin-top: 2080px;
    margin-left: 850px;
    color: rgb(26, 60, 52);
}

.save {
    position: absolute;
    font-size: 16px;
    margin-top: 2040px;
    margin-left: 1280px;
    color: rgb(26, 60, 52);
}

.mane {
    position: absolute;
    font-size: 16px;
    margin-top: 2060px;
    margin-left: 1275px;
    color: rgb(26, 60, 52);
}

.lane {
    position: absolute;
    font-size: 16px;
    margin-top: 2082px;
    margin-left: 1270px;
    color: rgb(26, 60, 52);
}

.button4 {
    position: absolute;
    font-size: 16px;
    background-color: white;
    color: black;
    border-radius: 2px;
    padding: 15px 28px;
    text-decoration: none;
    margin-left: 920px;
    margin-top: 2140px;
    color: rgb(26, 60, 52);
}

.button4:hover {
    background-color: #f0f0f0;
}

.choceimg {
    position: absolute;
    width: 465px;
    height: 450px;
    margin-top: 2565px;
    margin-left: 510px;
    cursor: pointer;
}

.fin {
    position: absolute;
    font-size: 45px;
    margin-top: 2720px;
    margin-left: 1100px;
    color: rgb(26, 60, 52);
}

.pin {
    position: absolute;
    font-size: 16px;
    margin-top: 2790px;
    margin-left: 1065px;
    color: rgb(26, 60, 52);
}

.begin {
    position: absolute;
    font-size: 16px;
    margin-top: 2820px;
    margin-left: 1200px;
    color: rgb(26, 60, 52);
}

.button5 {
    position: absolute;
    font-size: 16px;
    margin-top: 2880px;
    margin-left: 1265px;
    text-decoration: none;
    background-color: white;
    color: rgb(26, 60, 52);
    padding: 15px 28px;
    border-radius: 2px;
}

.button5:hover {
    background-color: #f0f0f0;
}

.textblue {
    position: absolute;
    margin-top: -290px;
    margin-left: -50px;
    font-size: 16px;
    color: blue;
}

.milka {
    position: absolute;
    margin-top: 3450px;
    margin-left: 1130px;
    width: 470px;
    height: 380px;
    border: 20px solid #51382a;
}

.insect {
    position: absolute;
    margin-top: 3450px;
    margin-left: 600px;
    font-size: 16px;
    color: #0071ce;
}

.insect {
    position: absolute;
    margin-top: 3450px;
    margin-left: 600px;
    font-size: 16px;
    color: #0071ce;
}

.interest {
    position: absolute;
    font-size: 55px;
    margin-top: 3500px;
    margin-left: 500px;
    max-width: 350px;
    color: rgb(26, 60, 52);
}

.drink {
    position: absolute;
    font-size: 16px;
    margin-top: 3680px;
    margin-left: 420px;
    color: rgb(26, 60, 52);
}

.drink {
    position: absolute;
    font-size: 16px;
    margin-top: 3680px;
    margin-left: 420px;
    color: rgb(26, 60, 52);
}

.spring {
    position: absolute;
    font-size: 16px;
    margin-top: 3705px;
    margin-left: 400px;
    color: rgb(26, 60, 52);
}

.ring {
    position: absolute;
    font-size: 16px;
    margin-top: 3730px;
    margin-left: 470px;
    color: rgb(26, 60, 52);
}

.button6 {
    position: absolute;
    font-size: 16px;
    color: black;
    margin-top: 3780px;
    margin-left: 595px;
    text-decoration: none;
    padding: 15px 28px;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}

.button6:hover {
    background-color: #ecebe8;
}

.chovani {
    position: absolute;
    margin-left: -610px;
    margin-top: -150px;
    color: white;
    font-size: 46px;
    font-weight: 100;
}

.winer {
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    margin-top: -39px;
    margin-left: -510px;
    color: #d9dfde;
}

.wine {
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    margin-top: -40px;
    margin-left: -610px;
    color: #d9dfde;
}

.kont {
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    margin-top: -39px;
    margin-left: -390px;
    color: #d9dfde;
}

.strike {
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    margin-top: -38px;
    margin-left: -290px;
    color: #d9dfde;
}

.global {
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    margin-top: -39px;
    margin-left: -140px;
    color: #d9dfde;
}

.offensive {
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    margin-top: -39px;
    margin-left: -10px;
    color: #d9dfde;
}

.jack {
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    margin-left: -620px;
    margin-top: 130px;
    color: #a7b4a9;
}

.soer {
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    margin-top: 130px;
    margin-left: -420px;
    color: #a7b4a9;
}

.forest {
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    margin-left: -260px;
    margin-top: 130px;
    color: #a7b4a9;
}

.bun {
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    margin-left: -20px;
    margin-top: 130px;
    color: #a7b4a9;
}

.lock {
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    margin-left: 290px;
    margin-top: 130px;
    color: #a7b4a9;
}

.robert {
    position: absolute;
    text-decoration: none;
    font-size: 16px;
    margin-left: 515px;
    margin-top: 130px;
    color: #a7b4a9;
}

.litles {
    position: absolute;
    background-color: #a7b4a9;
    padding: 10px 1px;
    margin-left: -449px;
    margin-top: 132px;
}

.litlem {
    position: absolute;
    background-color: #a7b4a9;
    padding: 10px 1px;
    margin-top: 132px;
    margin-left: -290px;
}

.litlek {
    position: absolute;
    background-color: #a7b4a9;
    padding: 10px 1px;
    margin-top: 132px;
    margin-left: -50px;
}

.litleks {
    position: absolute;
    background-color: #a7b4a9;
    padding: 10px 1px;
    margin-left: 276px;
    margin-top: 132px;
}

.limos {
    position: absolute;
    background-color: #a7b4a9;
    padding: 10px 1px;
    margin-left: 495px;
    margin-top: 132px;
}

.litle {
    position: absolute;
    color: #a7b4a9;
    margin-top: 165px;
    margin-left: -620px;
}

.backs {
    position: absolute;
    background-color: #3a574f;
    padding: 1px 630px;
    margin-left: -620px;
    margin-top: 100px;
}

.green {
    position: absolute;
    background-color: #1a3c34;
    padding: 210px 700px;
    margin-top: 4050px;
    margin-left: 265px;
    z-index: 3;
}

.input {
    position: absolute;
    color: white;
    font-size: 15px;
    margin-top: -90px;
    margin-left: 225px;
}

.enter {
    position: absolute;
    padding: 16px 130px 16px 20px;
    background-color: #1a3c34;
    border-radius: 2px;
    border: 2px solid #3a574f;
    margin-left: 220px;
    margin-top: -50px;
    text-align: start;
    color: white;
}

.enter:focus::-webkit-input-placeholder {
    color: transparent;
}

.input:checked {
    border: 1px solid blue;
}

.label {
    position: absolute;
    background-color: #1a3c34;
    width: 19px;
    height: 19px;
    margin-left: 232px;
    margin-top: 22px;
    border: 2px solid white;
}

input#ding.label {
    background-color: black;
}

.cheking {
    position: absolute;
    color: white;
    font-size: 12px;
    max-width: 330px;
    margin-top: 20px;
    margin-left: 270px;
}

.button9 {
    position: absolute;
    padding: 13px 30px;
    background-color: #1a3c34;
    color: white;
    border: 2px solid #3a574f;
    margin-left: 544px;
    margin-top: -49px;
    z-index: 2;
}

.button9:hover {
    background-color: white;
    color: black;
    border-left: white;
}

.facebook {
    position: absolute;
    margin-left: 500px;
    margin-top: 175px;
    width: 30px;
    height: 30px;
}

.instagram {
    position: absolute;
    margin-left: 535px;
    margin-top: 175px;
    width: 30px;
    height: 30px;
}

.twitter {
    position: absolute;
    margin-left: 565px;
    margin-top: 175px;
    width: 30px;
    height: 30px;
}

.pinterest {
    position: absolute;
    margin-left: 595px;
    margin-top: 175px;
    width: 30px;
    height: 30px;
}

.youtube {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 625px;
    margin-top: 175px;
}

.wewell {
    position: absolute;
    margin-left: 195px;
    margin-top: -45px;
    padding: 12px 23px;
    border-radius: 5px;
    width: 270px;
}

.close {
    position: absolute;
    margin-top: -50px;
    margin-left: 610px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.carroussel {
    position: relative;
    width: 536px;
    height: 400px;
    border: 6px solid white;
    margin-left: 60px;
}

.carroussel2 {
    position: relative;
    width: 540px;
    height: 400px;
    margin-left: 677px;
    margin-top: -409px;
    border: 6px solid white;
}

.carroussel3 {
    position: relative;
    width: 536px;
    height: 400px;
    border: 6px solid white;
    margin-left: 1295px;
    margin-top: -410px;
}

.hide {
    display: none !important;
}